In [ ]:
import geopandas as gpd
import pandas as pd
import contextily as ctx
import matplotlib.pyplot as plt

In [ ]:
# Add data to geopandas df
# Make sure you download the files included in this folder in order to use this code
# Change me
'''
Format:
name_of_file = gpd.read_file('<file path>/<file>')

'''
chicago_r_data = gpd.read_file('chicago_race/chicago_race.geojson')

In [ ]:
# Make sure there are the same number of census tracts in both
def check_shape(i_data, h_data):
    print('Housing shape: ', h_data.shape)
    print('Income shape:', i_data.shape)

In [ ]:
# Columns to keep for income
def income_keep():
    income_col = ['geoid',
 'name',
 'B19001001',
 'B19001002',
 'B19001003',
 'B19001004',
 'B19001005',
 'B19001006',
 'B19001007',
 'B19001008',
 'B19001009',
 'B19001010',
 'B19001011',
 'B19001012',
 'B19001013',
 'B19001014',
 'B19001015',
 'B19001016',
 'B19001017',
 'geometry']
    return income_col

In [ ]:
# Columns to keep for housing
def housing_keep():
   housing_col = ['geoid',
 'name',
 'B25003001',
 'B25003002',
 'B25003003',
 'geometry']
   return housing_col

In [ ]:
def race_data_keep():
    col_to_keep = ['geoid', 
        'name',
        'B03002001',
        'B03002002',
        'B03002003',
        'B03002004',
        'B03002005',            
        'B03002006',
        'B03002007',
        'B03002008',
        'B03002009',
        'B03002010',
        'B03002011',
        'B03002012',
        'B03002013',
        'B03002014',
        'B03002015',
        'B03002016',
        'B03002017',
        'B03002018',
        'B03002019',
        'B03002020',
        'B03002021',
        'geometry']
    return col_to_keep

In [ ]:
def marital_keep():
    col_to_keep = ['geoid',
 'name',
 'B12001001',
 'B12001002',
 'B12001003',
 'B12001004',
 'B12001005',
 'B12001006',
 'B12001007',
 'B12001008',
 'B12001009',
 'B12001010',
 'B12001011',
 'B12001012',
 'B12001013',
 'B12001014',
 'B12001015',
 'B12001016',
 'B12001017',
 'B12001018',
 'B12001019',
 'geometry']
    return col_to_keep

In [ ]:
#  Assign those new cols to each set
def rename_income(i_data):
    i_data = i_data[income_keep()]
    i_data.columns = ['geoid',
    'name',
    'Total:',
    'Less than $10,000',
    '$10,000 to $14,999',
    '$15,000 to $19,999',
    '$20,000 to $24,999',
    '$25,000 to $29,999',
    '$30,000 to $34,999',
    '$35,000 to $39,999',
    '$40,000 to $44,999',
    '$45,000 to $49,999',
    '$50,000 to $59,999',
    '$60,000 to $74,999',
    '$75,000 to $99,999',
    '$100,000 to $124,999',
    '$125,000 to $149,999',
    '$150,000 to $199,999',
    '$200,000 or more',
    'geometry']
    return i_data

In [ ]:
# Housing data column name change
def rename_housing(h_data):
    h_data = h_data[housing_keep()]
    h_data.columns = ['geoid',
    'name',
    'Total',
    'Owner occupied',
    'Renter occupied',
    'geometry']
    return h_data

In [ ]:
def rename_race(r_data):
    r_data = r_data[race_data_keep()]
    r_data.columns = ['geoid', 
        'name', 
        'Total',
        'Not Hispanic or Latino',
        'White alone',
        'Black or African American alone',
        'American Indian and Alaska Native alone',
        'Asian alone',
        'Native Hawaiian and Other Pacific Islander alone',
        'Some other race alone',
        'Two or more races',
        'Two races including Some other race',
        'Two races excluding Some other race, and three or more races',
        'Hispanic or Latino',
        'Hispanic White',
        'Hispanic Black or African American',
        'Hispanic American Indian and Alaska Native',
        'Hispanic Asian',
        'Hispanic Native Hawaiian and Other Pacific Islander alone',
        'Hispanic Some other race',
        'Hispanic two or more races',
        'Hispanic two races including Some other race',
        'Hispanic two races excluding Some other race, and three or more races',
        'geometry']
    return r_data

In [ ]:
def marital_rename(m_data):
    m_data = m_data[marital_keep()]
    m_data.columns = ['geoid',
    'name',
    'Total',
    'Male',
    'Never Married Male',
    'Now Married Male',
    'Married Spouse Present Male',
    'Married Spouse Absent Male',
    'Separated Male',
    'Other Male',
    'Widowed Male',
    'Divorced Male',
    'Female',
    'Never Married Female',
    'Now Married Female',
    'Married Spouse Present Female',
    'Married Spouse Absent Female',
    'Separated Female',
    'Other Female',
    'Widowed Female',
    'Divorced Female',
    'geometry']
    return m_data

In [ ]:
def plot_item(data, col):
    data.plot(figsize=(12,10), column = col, legend = True, scheme = 'NaturalBreaks')

In [ ]:
# rename Data set and remove unwanted spots
'''
Format:
name_of_data = rename_function(name_of_data)
'''
chicago_r_data = rename_race(chicago_r_data)

In [ ]:
# Plot
'''
Format:
plot_item(name_of_data, '<column name>')
'''
plot_item(chicago_r_data, 'Hispanic White')
plot_item(chicago_r_data, 'White alone')